node_modules/**
!node_modules/js-yaml/**
!node_modules/axios/**
!node_modules/form-data/**
!node_modules/combined-stream/**
!node_modules/delayed-stream/**
!node_modules/asynckit/**
!node_modules/mime-types/**
!node_modules/mime-db/**
.vscode/**
.vscode-test/**
src/**
out/test/**
**/*.map
**/.DS_Store
**/*.ts
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.*
**/eslint.config.*
.prettierrc
.husky/**
.env
.kaggle-*
remote_notebooks/**
test-notebook.ipynb
*.log